<!DOCTYPE html>
<html lang="en">

<!--//内部配置-->

<head>
<!--//编码-->
    <meta charset="UTF-8">
<!--//浏览器表头-->
    <title>Title</title>
</head>

<!--//浏览器的内容-->
<body>

<h1>hello world</h1> <!--//h1加大 加粗展示，一级标题-->

<h3>hello</h3> <!--//三级标题-->

<div>内容</div> <!--//块级标签，可以通过 CSS 样式设置格式-->

<span>内容</span> <span>内容</span> <!--//行内标签；内联标签 可以通过 CSS 样式设置格式-->

<!--跳转到其他标签 a 标签 ：行内标签 即创建超链接的功能-->
<a href="https://www.baidu.com/">点击跳转</a> <!--也可以跳转到自己的网站-->

<!--图片标签-->
<!--在自己项目中创建一个static目录，图片要放在static中。也可以通过网站连接到别人的图像。-->
<img style=" height: 100px ;width: 100px" src="/static/微信图片_20230320082944.jpg">

<!--无序列表-->
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>

<!--有序列表-->
<ol>
    <li>an</li>
    <li>bn</li>
    <li>cn</li>
</ol>


<!--表格-->
<table>
    <thead>

    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>

    </thead>

    <tbody>

    <tr>
        <td> 1</td>
        <td> Mike </td>
        <td> 10 </td>
    </tr>

    <tr>
        <td> 2</td>
        <td> Bob </td>
        <td> 12 </td>
    </tr>

    </tbody>

</table>


</body>

</html>